{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Enrollment</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'asset/assets/img/CK-Edge-logo.png' %}" rel="icon">
  <link href="{% static 'asset/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'asset/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'asset/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"> -->
  <link href="{% static 'asset/assets/css/style.css' %}" rel="stylesheet">



</head>
  <style>
*{
      font-size:small !important;
    }
   tfoot {
     display: table-header-group;
}
    #footbottom{
      min-height:100vh !important ;
      display:flex !important ;
      flex-direction:column !important ;
      justify-content:space-between !important ;
    }
    .co{
      color:#012970
    }
    a.disabled {
  pointer-events: none;
  cursor: default;
}
div.d{
    display: none;
}

  td.details-control {
    background: url('https://cekfakta.com/vendor/datatables/datatables/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
  }
  tr.shown td.details-control {
    background: url('https://cekfakta.com/vendor/datatables/datatables/examples/resources/details_close.png') no-repeat center center;
  }
 </style>
</head>

<body>
   <div id="footbottom">
  <!-- ======= Header ======= -->
  {% include 'include/header.html'%}

  <!-- ======= Sidebar ======= -->
  {% include 'include/sidebar.html'%}
  <!-- End Sidebar-->

  <main id="main" class="main" >
<!-- End Page Title -->
<!---date--->
<!-- Add form -->
<div class="modal fade" id="addloc_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="card-body" >
            <form method="post" id="add_location">
                {% csrf_token %}
                <div class=" ms-1 row">
                    <div class="col-md-12 label">
                        <label for="location" class="form-label fw-bold">Location <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="Enter location" id="loc" aria-describedby="emailHelp" name="loc" required>
                    </div>
                    <div class="col-md-12 mt-2 ">
                        <button type="button" class="btn btn-success float-end" id="add_loc_form">Submit</button>
                    </div>
                  </div>
            </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit form -->
<div class="modal fade" id="editloc_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Location</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="card-body" >
            <form id="edit_location">{% csrf_token %}
                <div class=" ms-1 row">
                    <div class="col-md-12 label">
                        <label for="location" class="form-label fw-bold">Location<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="loc1" aria-describedby="emailHelp" name="loc1" required>
                        <input type="hidden" class="form-control" id="ids" aria-describedby="emailHelp" name="ids" required>
                    </div>
                    <div class="col-md-12 mt-2 ">
                        <button type="button" class="btn btn-success float-end" id="update_loc_form">Update</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

      <!--end-->
     <!--card -->
     <div >
    <div class="card col-md-12" >
        <div class="card-body" style="box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px,rgba(0, 0, 0, 0.05) 0px 5px 10px">
          <div class="row mt-2">
            <div class="col-md-10"> <h5 class="fw-bold mt-2" style="color:#012970">Location</h5></div>
            {% if request.session.role == "Admin" %}
            <div class="col-md-2 float-end my-2"><button class="btn btn-success float-end border" data-bs-toggle="modal" data-bs-target="#addloc_form" id="" type="submit">Add Location</button><button class="btn btn-sm float-end mb-1 border-0" id="filter"></button></div>
            <!-- <div class="col-md-2"></div> -->
            {% endif %}
          </div>
          <div class="row my-2"> <div id="btn-place" ></div> </div>
          <div class="table-responsive">

            <form enctype="multipart/form-data">{% csrf_token %}

            <table class="table table-hover table-striped" data-order='[[ 0, "desc" ]]' id="myTable">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Location</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
        </form>
         </div>
        </div>
      </div>
    </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'include/footer.html'%}
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'asset/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'asset/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'asset/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'asset/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'asset/assets/vendor/quill/quill.min.js' %}"></script>
  <!-- <script src="{% static 'asset/assets/vendor/simple-datatables/simple-datatables.js' %}"></script> -->
  <script src="{% static 'asset/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'asset/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'asset/assets/js/main.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"> -->
  <!-- <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script> -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>

</div>
</body>
<script>
$(document).ready(function(){
  var pathname = window.location.pathname;
  $('.nav-item> a[href="'+pathname+'"]').removeClass('collapsed');
  table1();
});

function table1(){
  var userRole = "{{ request.session.role }}";
  $('#myTable').dataTable().fnDestroy();
    table=$('#myTable').DataTable({
        responsive: true,
        "fnRowCallback" : function(nRow, aData, iDisplayIndex){
            $("td:eq(0)", nRow).html(iDisplayIndex +1);
            return nRow;
        },
        "language": {"paginate": {
                "previous": '<i class="fa fa-angle-left" style="color:  #012970;"></i>',
                "next": '<i class="fa fa-angle-right" style="color:  #012970;"></i>'
            },
        },
        'ajax':{
            url:'/loc_fetch',
            processing: true,
            type :'POST',
            dataSrc: "",
            data:{
                csrfmiddlewaretoken:'{{ csrf_token }}'
            },
            dataType:'JSON',
        },
        'columns':[
            {data: "id"},
            { data: "loc_name"},
            { data: "status"},
            {data: function(o) {
              if(userRole == "Admin"){
              return '<a class="btn btn-sm" title="edit" onclick="edit_loc('+o.id+')" data-bs-toggle="modal" data-bs-target="#editloc_form" >' + '<i class="fas fa-edit"></i>' + '</a><a class="btn   btn-sm"  title="delete" onclick="deleteid('+o.id+')">' + '<i class="fas fa-trash"></i>' + '</a>';
              }else{
                return '-'
              }
            }}
        ]

  });

}

$('#add_loc_form').click(function(){
    if(!$('#loc').val())
    {
        swal("Please Enter location field","failed",{icon: 'error'});
    }
    else{
        $.ajax({
            url:"/addlocation",
            type:"POST",
            data:$('#add_location').serialize(),
            success:function(res){
                if(res.status=='Success'){
                    swal("Your Location Added Successfully!!",{icon:  "success"});
                    $("#add_location")[0].reset();
                    $('#addloc_form').modal('hide');
                    table.ajax.reload();
                }
                else{
                    swal("Your Location Not Add",{icon:  "error"});
                }
            }
        });
    }
});

function edit_loc(id){
    $.ajax({
        url:"/editlocation",
        type:"POST",
        data:{id:id, csrfmiddlewaretoken:'{{ csrf_token }}'},
        dataType:"JSON",
        success:function(data){
            $('#ids').val(data.user['id']);
            $('#loc1').val(data.user['loc_name']);
        }
    });
}


$('#update_loc_form').click(function(){
   if(!$('#loc1').val()){
     swal("Please Enter location field","failed",{icon: 'error'});
   }
   else{
       $.ajax({
            url:"/updatelocation",
            type:"POST",
            data:$('#edit_location').serialize(),
            success:function(res){
                if(res.status=='Success'){
                    swal("Your Location Updated Successfully!!",{icon:  "success"});
                    $("#edit_location")[0].reset();
                    $('#editloc_form').modal('hide');
                    table.ajax.reload();
                }
                else{
                    swal("Your Location Not Update",{icon:  "error"});
                }
            }
        });
    }
});

function deleteid(id){
  swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover ",
  icon: "warning",
  buttons: true,
  dangerMode: true,
    })
    .then((willDelete) => {
    if (willDelete) {
        $.ajax({
        type:'POST',
        url:'/loc_delete',
        data:{"id":id,csrfmiddlewaretoken:"{{ csrf_token }}"},
        dataType:'json',
        success:function(data){
        swal("successfully deleted!", {
        icon: "success", });
        table.ajax.reload();
    }})
}});

}

</script>
</html>
